<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tuudi3pl.tuudirider">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeTuudi"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.ResetPassword.ResetPasswordActivity"></activity>
        <activity android:name=".Activity.Dashboard.Tracking.TrackingActivity" />
        <activity android:name=".Activity.Dashboard.Signature.sign" />
        <activity android:name=".Activity.Dashboard.Signature.SignActivity" />
        <activity android:name=".Activity.Dashboard.Signature.SignatureActivity" />
        <activity android:name=".Activity.Dashboard.JobInProgress.JobInProgressActivity" />
        <activity android:name=".Activity.Dashboard.JobAccept.JobAcceptActivity" />
        <activity android:name=".Activity.Dashboard.MainDashboard" />
        <activity android:name=".Activity.Login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>